*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.eps

SimulationStudy
RealDataAnalysis/PBCpaper/figure
RealDataAnalysis/PBCpackage/figure
RealDataAnalysis/CGDpackage/figure

afttest_old
afttest_update

.Rproj.user
