.DS_Store
.Rproj.user
.Rhistory
.Ruserdata

.Rbuildignore
*.RData
*.Rproj
*.o
*.so
*.dll

*.sbatch
*.zip
*.eps

SimulationStudy
RealDataAnalysis/PBCpaper/figurePBCpaper
RealDataAnalysis/PBCpackage/figurePBCpackage
RealDataAnalysis/CGDpackage/figureCGDpackage

afttest_old
afttest_update
